AcceptEnv LANG LC_*
AuthorizedKeysFile /etc/ssh/authorized_keys
ChallengeResponseAuthentication no
ClientAliveCountMax 5
ClientAliveInterval 60
HostBasedAuthentication no
HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_dsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
IgnoreRhosts yes
KeyRegenerationInterval 3600
LogLevel INFO
LoginGraceTime 120
PasswordAuthentication no
PermitEmptyPasswords no
PermitRootLogin yes
Port 2222
PrintLastLog yes
PrintMotd yes
Protocol 2
PubkeyAuthentication yes
RSAAuthentication yes
RhostsRSAAuthentication no
ServerKeyBits 768
StrictModes yes
TCPKeepAlive yes
UsePAM no
UsePrivilegeSeparation yes
